.page-footer {
  display: grid;
  grid-area: footer;
  place-items: center;
  color: white;
  text-align: center;
  background-image: var(--pattern);
  background-position: var(--pattern-position);
  background-size: var(--pattern-size);
  border: none;

  .container {
    max-width: calc(var(--container) + var(--spacer-x) * 2);
    padding: var(--spacer-y) var(--spacer-x);
    margin-inline: auto;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;

    @media (min-width: $lg) {
      flex-direction: row;
      justify-content: center;
      margin-inline: -3.5rem;
    }
  }

  [class^="link-"] {
    color: black;
    background-color: white;

    &:is(:hover, :focus) {
      color: white;
      background-color: black;
      box-shadow: 0 0 0 1px white;
    }
  }
}
