header {
  grid-area: header;

  .container {
    display: grid;
    grid-template-areas:
      "title title title"
      ". subtitle ."
      ". paragraph ."
      ". link .";
    grid-auto-columns: var(--spacer-x) 1fr var(--spacer-x);
    align-content: start;
    justify-content: normal;
    padding-bottom: var(--spacer-y);

    @media (min-width: $lg) {
      --spacer-x: 10rem;
      grid-auto-columns: minmax(var(--spacer-x), 1fr)
        minmax(0, var(--container)) minmax(var(--spacer-x), 1fr);
    }
  }

  h1 {
    display: grid;
    grid-area: title;
    align-items: center;
    width: 100%;
    height: 15rem;
    padding: 0 var(--spacer-x);
    margin-bottom: var(--spacer-y);
    color: white;
    background-image: var(--pattern);
    background-position: var(--pattern-position);
    background-size: var(--pattern-size);

    @media (min-width: $sm) {
      height: max(15rem, calc(50vh - var(--navbar-height)));
    }

    @media (min-width: $lg) {
      --spacer-x: 10rem;
    }
  }

  h2 {
    grid-area: subtitle;
  }

  p {
    grid-area: paragraph;

    @media (min-width: $md) {
      font-size: 1.125rem;
    }

    + a {
      grid-area: link;
      justify-self: start;
      margin-top: 2rem;
    }
  }
}
