nav {
  position: fixed;
  top: 0;
  width: 100%;
  overflow-x: auto;
  background-color: white;
  border-bottom: 1px solid;

  ul {
    display: flex;

    &::before {
      padding: var(--button-padding);
      font-weight: 700;
      white-space: nowrap;
      pointer-events: auto;
      content: "Style Stage";
      border-right: 1px solid;

      @media (min-width: $md) {
        --button-padding: 1.75rem 2rem;
      }
    }
  }

  li {
    border-right: 1px solid;
  }

  a {
    display: block;
    padding: var(--button-padding);
    text-decoration: none;
    white-space: nowrap;
    transition-timing-function: var(--transition-timing-function);
    transition-duration: var(--transition-duration);
    transition-property: color, background-color;

    @media (min-width: $md) {
      --button-padding: 1.75rem 2rem;
    }

    &:is(:hover, :focus) {
      color: white;
      background-color: black;
    }
  }
}
