.profile {
  display: grid;
  grid-area: profile;
  place-items: center;
  align-content: center;
  padding: 0 var(--spacer-x);
  background-image: var(--pattern);
  background-position: var(--pattern-position);
  background-size: var(--pattern-size);

  @media (min-width: $md) {
    --spacer-x: 2rem;
  }

  .container {
    display: grid;
    row-gap: 1rem;
    width: 100%;
    padding: calc(var(--spacer-x) * 2);
    background-color: white;
    box-shadow: inset 0 0 0 var(--spacer-x) white,
      inset 0 0 0 calc(var(--spacer-x) + 1px);

    @media (min-width: $md) {
      --spacer-x: 2rem;
      grid-template-areas: "title text" "title text" "title text";
      grid-auto-columns: 1fr 1fr;
      max-width: calc(var(--container) + var(--spacer-x) * 4);
    }
  }

  h4 {
    font-size: var(--font-size-h2);

    @media (min-width: $md) {
      grid-area: title;
      padding-right: 5rem;
    }
  }
}
