#styles {
  display: grid;
  grid-area: styles;
  place-items: end;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding-top: var(--spacer-y);

    > a {
      order: 0;
      padding: 0 var(--spacer-x);
      margin-bottom: var(--spacer-y);

      @media (min-width: $md) {
        --spacer-x: 5rem;
      }
    }
  }

  h2 {
    padding: 0 var(--spacer-x);
    margin-bottom: 1rem;

    @media (min-width: $md) {
      --spacer-x: 5rem;
      margin-bottom: 2rem;
      font-size: var(--font-size-h1);
      font-size: 4rem;
    }
  }

  ul {
    display: grid;
    order: 1;
    border-top: 1px solid;

    @media (min-width: $md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  li {
    position: relative;
    display: grid;
    place-items: center;
    min-height: 10rem;
    padding: 2rem;
    text-align: center;

    @media (min-width: $md) {
      height: clamp(15rem, calc(50vh - var(--navbar-height)), 30rem);
    }

    + li {
      border-top: 1px solid;

      @media (min-width: $md) {
        border-top: 0;
        border-left: 1px solid;
      }
    }

    span {
      width: 100%;
      overflow: hidden;
      overflow-wrap: break-word;
    }

    a {
      display: block;
      margin-bottom: 0.125rem;
      font-size: var(--font-size-h3);
      font-weight: 700;
      line-height: var(--line-height-heading);
      text-decoration: none;

      @media (min-width: $md) {
        margin-bottom: 0.25rem;
        font-size: var(--font-size-h2);
      }

      &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
        transition-timing-function: var(--transition-timing-function);
        transition-duration: var(--transition-duration);
        transition-property: background-color;
      }

      &:is(:hover, :focus) {
        color: white;

        &::before {
          background-color: black;
          mix-blend-mode: difference;
        }

        + span {
          color: white;
        }
      }
    }
  }
}
